img{
    width: 100px;
    height: 100px;
    background-color: orange;
}
.dragArea{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.area,.area1,.area2{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}